body {
  background-color: rgb(255, 251, 240);
  color: rgb(253, 202, 72);
}

.navbar {
  background-color: rgb(251, 232, 203);
  display: flex;
  flex-direction: row;
  position: sticky;
  width: 100%;
  top: 0;
}

.menu_btn {
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 15px;
  color: rgb(255, 157, 29);
  padding: 0 10px;
  margin-left: 5vw;
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;
}

.bi-list,
.bi-x-lg {
  color: rgb(255, 157, 29);
  font-size: 3vw;
}

.logo {
  width: 12vw;
  text-align: center;
}

.empty {
  padding: 0 10px;
  margin: 0 6vw;
}

#offcanvasMenu {
  background-color: rgb(255, 251, 240);
}

.offcanvas.offcanvas-start {
  width: 30%
}

.close_button {
  border: 0;
  color: none;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
}

.menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
}

.menu_items,
.menu_subitems {
  text-align: center;
  color: rgb(255, 157, 29);
}

.menu_items {
  font-size: 3vw;
  margin-top: 50px;
}

.menu_subitems {
  font-size: 2vw;
}

/* .logout {
  display: flex;
  justify-content: center;
} */

.pay-btn,
.details-btn,
.cancel-btn {
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 15px;
  color: rgb(255, 157, 29);
  margin: 6vw 2vw 2vw 2vw;
  padding: 8px;
  font-size: 2.5vw;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

#logout {
  padding: 8px 20px;
  margin: 50px 30px 30px 30px;
  border-radius: 50px;
  background-color: #ffbf82;
  font-size: 1.8vw;
  color: #fff;
  border: 0;
  font-weight: 600;
  /* position: fixed */
}

#logout:hover {
  background-color: #ffa34d;
}

footer {
  width: 100vw;
  padding: 10px;
  bottom: 0;
  background-color: #ffe7c7;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #ae782e;
}

p {
  margin: 0
}

@media only screen and (max-width: 600px) {
  .menu_btn {
    background-color: rgb(255, 227, 155);
    border: 0;
    border-radius: 15px;
    color: rgb(255, 157, 29);
    padding: 0 10px;
    margin-left: 5vw;
    box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;
  }

  .offcanvas.offcanvas-start {
    width: 60%
  }

  .logo {
    width: 40vw;
    text-align: center;
  }

  footer {
    width: 100vw;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffe7c7;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    color: #ae782e;
  }
}