.banner-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* title */
.banner {
  position: relative;
  width: 1000px;
  height: 400px;
  background-image: url("../assets/banner.png");
  background-position: center;
  background-size: 80vh;
  margin: 20px;
  color: #ffca59;
  text-align: center;
  font-size: 50px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 3px 3px #905201;
}

.banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}
.order-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order {
  background-color: rgb(255, 245, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border: 0;
  border-radius: 15px;
  padding: 0 10px;
  margin: 3vw;
  margin-bottom: 70px;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

h2 {
  margin: 20px;
  color: #ae782e;
  text-align: center;
  /* padding-left: 5vw;
  padding-right: 8vw; */
  font-size: 22px;
}

#order-id {
  color: rgb(255, 251, 240);
}

.confirm-order,
.total-price,
.payment-method {
  color: #ae782e;
  width: 100%;
  background-color: rgb(255, 251, 240);
  text-align: left;
  border: 0;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  font-size: 18px;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  line-height: 1.8;
}

.order-details {
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: end;
}

.payment-div {
  width: 80%;
  /* padding-right: 2vw;
  padding-right: 7vw; */
}
.payment-method {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-div {
  display: flex;
  justify-content: space-around;
}

.payment-column img {
  width: 100px;
}

.payment-column {
  margin-bottom: 1vw;
}
.each-payment {
  margin: 18px;
}

.pay-btn {
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 18px;
  color: #fff;
  border: 0;
  font-weight: 600;
  margin: 3vw 0;
  padding: 8px 4vw;
  width: fit-content;
}

.pay-btn:hover {
  background-color: #ffa34d;
}

.pay-btn:active {
  background-color: #ec8700;
  box-shadow: 0 5px #905201;
  transform: translateY(4px);
}

/* .fa-sharp .fa-solid .fa-circle-chevron-right ::before {
  padding-top: 1vw;
} */

input {
  font-size: 3vw;
  margin: 0 2vw;
}

@media only screen and (min-width: 1000px) {
  .order {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .banner {
    width: 95vw;
    height: 400px;
    font-size: 40px;
  }

  .order {
    width: 95vw;
  }

  h2 {
    font-size: 3vw;
  }

  .order-details {
    font-size: 2.5vw;
  }

  .pay-btn {
    color: #fff;
    font-size: 3vw;
    padding: 8px 3vw;
    width: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 95vw;
    height: 200px;
    font-size: 40px;
  }

  h2 {
    font-size: 5vw;
  }

  .order-details {
    font-size: 4vw;
  }

  .pay-btn {
    color: #fff;
    font-size: 5vw;
    padding: 8px 4vw;
    width: fit-content;
  }
}
