.upload-div {
  background-color: rgb(255, 245, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 0;
  border-radius: 15px;
  padding: 0 10px;
  margin: 3vw;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

h3 {
  margin-top: 2vw;
  color: rgb(255, 157, 29);
  text-align: left;
  padding-left: 5vw;
  padding-right: 8vw;
  font-size: 3.5vw;
}

input[type="file"] {
  display: none;
}

#imageName {
  color:rgb(255, 157, 29);
  font-size: 2vw;
}

.btns {
  display: inline-block;
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 15px;
  color: rgb(255, 157, 29);
  margin: 2vw;
  padding: 8px;
  font-size: 2vw;
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;
  cursor: pointer;
}

label {
  font-size: 2.5vw;
  padding-top: 2vw;
  margin: 0%;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}