.banner-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* title */
.banner {
  position: relative;
  width: 1000px;
  height: 400px;
  background-image: url("../assets/banner.png");
  background-position: center;
  background-size: 80vh;
  margin: 2vw;
  color: #ffca59;
  text-align: center;
  font-size: 50px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 3px 3px #905201;
}

.banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}

.ai_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-div,
.ai-result-div {
  background-color: rgb(255, 245, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 0;
  border-radius: 15px;
  padding: 0 10px;
  margin: 3vw;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

.title_div,
.result-title,
.animal-result,
.rating-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ae782e;
  text-align: center;
  font-size: 24px;
}

.restrictions {
  color: #e19f44;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.8;
}

input[type="file"] {
  display: none;
}

#imageName {
  color: #e19f44;
  font-size: 20px;
}

.btn-gp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btns,
#form-toggle,
#form-toggle-manual {
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 18px;
  color: #fff;
  border: 0;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 8px 4vw;
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.btns:hover,
#form-toggle:hover,
#form-toggle-manual:hover {
  background-color: #ffa34d;
}

.btns:active,
#form-toggle:active,
#form-toggle-manual:active {
  background-color: #ec8700;
  box-shadow: 0 5px #905201;
  transform: translateY(4px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate {
  float: left;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  display: none;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 60px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

@media only screen and (min-width: 1000px) {
  .upload-div,
  .ai-result-div {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .banner {
    width: 95vw;
    height: 400px;
    font-size: 40px;
  }

  .upload-div,
  .ai-result-div {
    width: 95vw;
  }

  .sub-title {
    color: #ae782e;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
    text-align: left;
    font-size: 3vw;
  }

  .btns {
    color: #fff;
    font-size: 3vw;
    padding: 8px 3vw;
    width: fit-content;
  }

  .date {
    width: 100%;
    margin-right: 0px;
  }
  .time {
    width: 100%;
    margin-left: 0px;
  }

  .submit-btn {
    color: #fff;
    font-size: 3vw;
    padding: 8px 3vw;
    width: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 95vw;
    height: 200px;
    font-size: 40px;
  }

  .sub-title {
    color: #ae782e;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
    text-align: left;
    font-size: 5vw;
  }

  .btns {
    color: #fff;
    font-size: 5vw;
    padding: 8px 4vw;
    width: fit-content;
  }

  .submit-btn {
    color: #fff;
    font-size: 5vw;
    padding: 8px 4vw;
    width: fit-content;
  }
}

.default-address-btn {
  margin-left: 10px;
  border-radius: 50px;
  background-color: #ffaa5b;
  color: #fff;
  border: 0;
  font-weight: 600;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-text {
  margin: 0;
}
