body {
  background-color: rgb(255, 251, 240);
}

.login-container {
  background-color:  rgba(253, 233, 183, 0.459);
  border-radius: 15px;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

::placeholder {
  color: rgb(255, 157, 29);
  font-size: 90%;
  font-weight: Thin;
}
.word {
  color: rgb(255, 157, 29);
  padding: 20px;
  font-weight: bold;
  font-size: 180%;
}
.word2 {
  color: rgb(255, 157, 29);
  font-weight: thin;
  font-size: 90%;
}
input, select, textarea{
    color: rgb(255, 157, 29);
    box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;
}

textarea:focus, input:focus {
    color: rgb(255, 157, 29);
}
input {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid rgb(255, 157, 29);
  width: 35vw;
  height: 5vh;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

.member_login,
.driver_login, .member_googleLogin {
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 15px;
  width: 35vw;
  height: 5vh;
  color: rgb(255, 157, 29);
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 1vw;
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;

}

#users-login-form, #drivers-login-form{
    margin-bottom: 10px;
}

.member_googleLogin{
  margin-bottom: 2vw;
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;

}

#password{
  margin-bottom: 1vw;
  margin-top: 1vw;
}

#member_create {
  background-color: rgb(255, 157, 29);
  border: 0;
  border-radius: 15px;
  width: 35vw;
  height: 5vh;;
  color: rgb(255, 227, 155);
  margin: 10px 0;
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 3vw;
  box-shadow: rgba(225, 127, 0, 0.5) 0px 3px 8px;
}

.logo-img{
width: 15vw;
}

.logo{
  display: flex;
  justify-content: center;
}