body {
  background-color: rgb(255, 251, 240);
  display: flex;
}

.content {
  font-size: large;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 20px;
}

.login-container {
  text-align: center;
  width: 70vw;
  height: 35vh;
  background-color:  rgba(253, 233, 183, 0.459);
  border-radius: 5px;
}
.bottom-container{
    margin-top: 20px;
    text-align: center;
}

::placeholder {
  color: rgb(255, 157, 29);
  font-size: small;
  font-weight: Thin;
}
.word {
  color: rgb(255, 157, 29);
  padding: 20px;
  font-weight: bold;
  font-size: 150%;
}
.word2 {
  color: rgb(255, 157, 29);
  font-weight: thin;
  font-size: small;
}
input, select, textarea{
    color: rgb(255, 157, 29);
}

textarea:focus, input:focus {
    color: rgb(255, 157, 29);
}
input {
  border-radius: 1px;
  border: 1px solid rgb(255, 157, 29);
    width: 55vw;
  height: 4vh;
}

.member_login,
.driver_login {
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 5px;
  width: 55vw;
  height: 4vh;
  color: rgb(255, 157, 29);
  margin-top: 10px;
  font-size: 3vw;
  font-weight: bold;
}
#users-login-form, #drivers-login-form{
    margin-bottom: 10px;
}

.member_create,
.driver_create {
  background-color: rgb(255, 157, 29);
  border: 0;
  border-radius: 5px;
  width: 55vw;
  height: 4vh;;
  color: rgb(255, 227, 155);
  margin: 10px 0;
  font-size: 3vw;
  font-weight: bold;
}

.logo {
  width: 20vw;
  position: absolute;
  left: 29%;
}

.login {
  flex-direction: column;
}