body {
  background-color: rgb(255, 251, 240);
}

.content {
  font-size: large;
}

.login-container {
  background-color:  rgba(253, 233, 183, 0.459);
  border-radius: 15px;
  text-align: center;
  height: 30vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.bottom-container{
    margin-top: 20px;
    text-align: center;
}

::placeholder {
  color: rgb(255, 157, 29);
  font-size: 90%;
  font-weight: Thin;
}
.word {
  color: rgb(255, 157, 29);
  padding: 20px;
  font-weight: bold;
  font-size: 180%;
}
.word2 {
  color: rgb(255, 157, 29);
  font-weight: thin;
  font-size: 90%;
}
input, select, textarea{
    color: rgb(255, 157, 29);
}

textarea:focus, input:focus {
    color: rgb(255, 157, 29);
}
input {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid rgb(255, 157, 29);
  width: 35vw;
  height: 4vh;
}

.member_login,
.driver_login {
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 15px;
  width: 35vw;
  height: 4vh;
  color: rgb(255, 157, 29);
  margin-top: 10px;
  font-size: 130%;
  font-weight: bold;
}
#users-login-form, #drivers-login-form{
    margin-bottom: 10px;
}

.member_create,
.driver_create {
  background-color: rgb(255, 157, 29);
  border: 0;
  border-radius: 15px;
  width: 35vw;
  height: 4vh;;
  color: rgb(255, 227, 155);
  margin: 10px 0;
  font-size: 130%;
  font-weight: bold;
}

.logo-img{
width: 15vw;
}

.logo{
  display: flex;
  justify-content: center;
}