body {
    background-color: rgb(255, 251, 240);
    
}

.navbar {
    background-color: rgb(255, 245, 219);
    display: flex;
    flex-direction: row;
}

.menu_btn {
    background-color: rgb(255, 227, 155);
    border: 0;
    border-radius: 15px;
    color: rgb(255, 157, 29);
    padding: 0 10px;
    margin-left: 5vw;
}

.bi-list, .bi-x-lg {
    color: rgb(255, 157, 29);
    font-size: 4vw;
}

.logo {
    width: 20vw;
    text-align: center;
}

.empty {
    padding: 0 10px;
    margin: 0 6vw;
}

#offcanvasMenu {
    background-color: rgb(255, 251, 240);
}

.close_button {
    border: 0;
    color: none;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
}

.menu_items, .menu_subitems {
    text-align: center;
    color: rgb(255, 157, 29);
}

.menu_items {
    font-size: 3vw;
    margin-top: 50px;
}

.menu_subitems {
    font-size: 2vw;
}

.driver_logout {
    background-color: rgb(255, 227, 155);
    border: 0;
    border-radius: 15px;
    color: rgb(255, 157, 29);
    margin: 10px 0;
    padding: 8px;
    font-size: 3vw;
}

.driver-info {
    border: 0;
    border-radius: 15px;
    background-color: rgb(255, 245, 219);
    margin: 3vw 15vw;
    display: flex;
    align-items: center;
    color: rgb(255, 157, 29);
    padding: 0 2vw;
    justify-content: center;
}

.bi-person-circle {
    color: rgb(255, 157, 29);
    font-size: 7vw;
    margin-right: 2vw;
}
.single_order {
    border: 0;
    border-radius: 15px;
    background-color: rgb(255, 245, 219);
    color: rgb(255, 157, 29);
    display: flex;
    flex-direction: row;
    margin: 3vw 15vw;
    justify-content: space-between;
}

.order-text {
    color: rgb(255, 227, 155);
    margin: 0 2vw;
}

.driver-name {
    font-size: 2.5vw;
    margin: 10px;
}

.role {
    font-size: 1.5vw;
    margin: 10px;
}

.accept-order, .cfm-accept-order, .return-btn {
    background-color: rgb(255, 227, 155);
    border: 0;
    border-radius: 15px;
    color: rgb(255, 157, 29);
    padding: 0 10px;
    margin: 2vw 0;
}

.pick_up_district_time, .deli_district_animal {
    color: rgb(255, 157, 29);
    margin: 0 2vw;
    font-size: 2vw;
}

.confirm_order {
    border: 0;
    border-radius: 15px;
    background-color: rgb(255, 245, 219);
    margin: 3vw;
    color: rgb(255, 157, 29);
    margin: 3vw 15vw;
}

.order-success {
    border: 0;
    border-radius: 15px;
    background-color: rgb(255, 245, 219);
    margin: 3vw;
    color: rgb(255, 157, 29);
    margin: 3vw 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success {
    font-size: 5vw;
    margin: 10px;
    color: rgb(255, 157, 29);
}