.order-form-div {
  background-color: rgb(255, 245, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 0;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 3vw;
}

.create-order-form {
  margin-left: 5vw;
  margin-right: 5vw;
}
/* title */
h3 {
  margin: 2vw;
  color: rgb(255, 157, 29);
  text-align: center;
  padding-left: 3vw;
  padding-right: 8vw;
}
/* sub-title */
p {
  color: rgb(253, 202, 72);
  margin-bottom: 0;
  margin-top: 1vw;
  text-align: left;
}

/* div align */
.pick-up-address,
.deliver-address,
.animals-section,
.remarks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  text-align: left;
}
/* date and time width */
.date {
  width: 50%;
  height: 30%;
  text-align: center;
  letter-spacing: 6px;
}
.time {
  width: 30%;
  height: 30%;
  letter-spacing: 2px;
  text-align: center;
}

/* animal title and plus btn */
.sub-title-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* border */
input,
select,
textarea {
  border: 1px solid rgb(253, 202, 72);
  margin: 1%;
  width: 83%;
  height: 50%;
}

/* template width */
.clone-animal {
  width: 100%;
  height: 50%;
}

/* select  */
select :disabled {
  background-color: rgba(208, 207, 205, 0.674);
}
/* place holder */
input,
textarea,
::placeholder {
  color: rgb(253, 202, 72);
}

/* when there is input */
input,
select,
textarea,
:valid {
  color: rgb(255, 157, 29);
}

/* can't change select color yet */
select option:first-child {
  color: green;
}
textarea:focus,
input:focus {
  background: rgba(230, 227, 223, 0.453);
}

/*anm button */
/* .add-animal,
.remove-animal {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(253, 202, 72);
  border: 1px solid rgb(253, 202, 72);
  text-align: center;
} */

.bi-plus-circle-fill,
.bi-dash-circle-fill {
  /* padding: 5; */
  color: rgb(253, 202, 72);
  padding-left: 1vw;
  padding-top: 1vw;
  cursor: pointer;
}

.submit-btn {
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 15px;
  color: rgb(255, 157, 29);
  margin: 3vw 0;
  padding: 8px;
  font-size: 3vw;
}
/* hi users */
.user-info {
  border: 0;
  border-radius: 15px;
  background-color: rgb(255, 245, 219);
  margin: 3vw 15vw;
  display: flex;
  align-items: center;
  color: rgb(255, 157, 29);
  /* justify-content: center; */
  /* padding: 0 3vw; */
}

.bi-person-circle {
  color: rgb(255, 157, 29);
  font-size: 6vw;
  margin: 0 2vw;
}

.user-name {
  font-size: 2.5vw;
  margin: 10px;
}

.role {
  font-size: 1.5vw;
  margin: 10px;
}
