.order {
  background-color: rgb(255, 245, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border: 0;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 3vw;
}

h3 {
  margin: 2vw;
  color: rgb(255, 157, 29);
  text-align: center;
  padding-left: 5vw;
  padding-right: 8vw;
}

.confirm-order,
.total-price,
.payment-method {
  width: 100%;
  background-color: rgb(255, 251, 240);
  text-align: left;
  padding: 1vw;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: end;
}
