
body {
  background-color: rgb(255, 251, 240);
}

.content {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.box-area {
  text-align: center;
  background-color: rgba(253, 233, 183, 0.459);
  border-radius: 15px;
  margin-bottom: 8vh;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  margin-left: 20vw;
  margin-right: 20vw;
}
/* .bottom-container {
  margin-top: 20px;
  text-align: center;
} */

::placeholder {
  color: rgb(255, 157, 29);
  font-size: 90%;
  font-weight: Thin;
}

input, select, textarea{
  border: 1px solid rgb(255, 157, 29);
  color: rgb(255, 157, 29);
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

textarea:focus, input:focus, select:focus {
  color: rgb(255, 157, 29);
}

.word, .word2 {
  color: rgb(255, 157, 29);
  padding: 20px;
  font-weight: bold;
  font-size: 180%;
}
/* .word2 {
  color: rgb(255, 157, 29);
  font-weight: thin;
  font-size: 90%;
} */

/* ::placeholder {
  font-size: 2vw;
} */

input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: larger;
  line-height: inherit;
}

input, select {
  border-radius: 1px;
  border: 1px solid rgb(255, 157, 29);
  width: 35vw;
  height: 4vh;
}
.users-input {
  padding: 5px;
}

.orange-button {
  /* background-color: rgb(255, 227, 155); */
  /* border: 0; */
  /* border-radius: 15px; */
  width: 35vw;
  /* height: 8vh; */
  /* color: rgb(255, 157, 29); */
  /* font-size: 180%; */
  /* font-weight: bold; */
  margin-bottom: 1vw;
  /* box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px; */
  padding: 8px 20px;
  margin: 20px 30px 30px 30px;
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 1.8vw;
  color: #fff;
  border: 0;
  font-weight: 600;
}

.orange-button:hover {
  background-color: #ffa34d;
}

.orange-button:active {
  background-color: #ec8700;
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;
  transform: translateY(4px);
}

.logo-img{
width: 15vw;
margin: 1.5vw;
}

.logo{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .box-area {
    margin:0 10vw;
  }

  .logo-img {
    width: 45vw;
    margin: 2vw;
  }

  .word {
    font-size: 180%;
  }

  .word2 {
    font-size: 180%;
  }

  input, select {
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid rgb(255, 157, 29);
    width: 50vw;
    height: 5vh;
    box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  }

  .orange-button {
    width: 50vw;
    height: 5vh;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #ffaa5b;
    color: #fff;
    border: 0;
    font-weight: 600;
    font-size: 130%;
    margin-top: 6vw;
  }
}