body {
  background-color: rgb(255, 251, 240);
}

.login-container {
  background-color: rgba(253, 233, 183, 0.459);
  border-radius: 15px;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 3vw;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

::placeholder {
  color: rgb(255, 157, 29);
  font-size: 120%;
  font-weight: Thin;
}
.word {
  color: rgb(255, 157, 29);
  padding: 20px;
  font-weight: bold;
  font-size: 200%;
}

.word2 {
  color: rgb(255, 157, 29);
  padding: 20px;
  font-weight: bold;
  font-size: 180%;
}

input,
select,
textarea {
  color: rgb(255, 157, 29);
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;
}

textarea:focus,
input:focus {
  color: rgb(255, 157, 29);
}
input {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid rgb(255, 157, 29);
  width: 35vw;
  height: 8vh;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

.member_login,
.driver_login,
.member_googleLogin {
  /* background-color: rgb(255, 227, 155); */
  /* border: 0; */
  /* border-radius: 15px; */
  width: 35vw;
  /* height: 8vh; */
  /* color: rgb(255, 157, 29); */
  /* font-size: 180%; */
  /* font-weight: bold; */
  margin-bottom: 1vw;
  /* box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px; */
  padding: 8px 20px;
  /* margin: 20px 30px 30px 30px; */
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 1.8vw;
  color: #fff;
  border: 0;
  font-weight: 600;
}

.member_login:hover,
.driver_login:hover,
.member_googleLogin:hover {
  background-color: #ffa34d;
}

.member_login:active,
.driver_login:active,
.member_googleLogin:active {
  background-color: #ec8700;
  box-shadow: 0 5px #905201;
  transform: translateY(4px);
}

#users-login-form,
#drivers-login-form {
  margin-bottom: 10px;
}

/* .member_googleLogin{
  margin-bottom: 2vw;
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;

} */

#password {
  margin-bottom: 1vw;
  margin-top: 1vw;
}

/* #member_create {
  background-color: rgb(255, 157, 29);
  border: 0;
  border-radius: 15px;
  width: 35vw;
  height: 8vh;;
  color: rgb(255, 227, 155);
  margin: 10px 0;
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 3vw;
  box-shadow: rgba(225, 127, 0, 0.5) 0px 3px 8px;
} */

#member_create {
  width: 35vw;
  margin-bottom: 1vw;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 1.8vw;
  color: #fff;
  border: 0;
  font-weight: 600;
}

#member_create:hover {
  background-color: #ffa34d;
}

#member_create:active {
  background-color: #ec8700;
  box-shadow: 0 5px #905201;
  transform: translateY(4px);
}

.logo-img {
  width: 15vw;
  margin: 1.5vw;
}

.logo {
  display: flex;
  justify-content: center;
}

input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: larger;
  line-height: inherit;
}

@media only screen and (max-width: 600px) {

  .login-container {
    background-color: rgba(253, 233, 183, 0.459);
    border-radius: 15px;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 3vw;
    box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  }

  .logo-img {
    width: 45vw;
    margin: 2vw;
  }

  ::placeholder {
    color: rgb(255, 157, 29);
    font-size: 80%;
    font-weight: Thin;
  }

  .word {
    font-size: 180%;
  }

  .word2 {
    font-size: 100%;
  }

  input {
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid rgb(255, 157, 29);
    width: 50vw;
    height: 5vh;
    box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  }

  .member_login,
  .driver_login,
  .member_googleLogin {
    width: 50vw;
    height: 5vh;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #ffaa5b;
    color: #fff;
    border: 0;
    font-weight: 600;
    font-size: 130%;
    margin-top: 1vw;
    /* background-color: rgb(255, 227, 155);
    border: 0;
    border-radius: 15px;
    width: 50vw;
    height: 5vh;
    color: rgb(255, 157, 29);
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 2vw;
    box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px; */
  }

  #users-login-form,
  #drivers-login-form {
    margin-bottom: 10px;
  }


  #member_create {

    width: 50vw;
    height: 5vh;

    font-size: 130%;
    font-weight: bold;
    margin-bottom: 10vw;
    margin-top: 0vw;
    

    margin-bottom: 3vw;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #ffaa5b;

    color: #fff;
    border: 0;
    font-weight: 600;
  }
}
