body {
  background-color: rgb(255, 251, 240);
}

.content {
  font-size: large;
}

#receivers-form {
  text-align: center;
  background-color: rgba(253, 233, 183, 0.459);
  border-radius: 15px;
  margin-left: 20vw;
  margin-right: 20vw;
}

::placeholder {
  color: rgb(255, 157, 29);
  font-size: 90%;
  font-weight: Thin;
}

input, select, textarea{
  color: rgb(255, 157, 29);
  box-shadow: rgba(255, 157, 29, 0.5) 0px 3px 8px;
}

textarea:focus, input:focus {
    color: rgb(255, 157, 29);
}

.word {
  color: rgb(255, 157, 29);
  padding: 20px;
  font-weight: bold;
  font-size: 150%;
}

input {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid rgb(255, 157, 29);
  width: 35vw;
  height: 4vh;
}

.orange-button {
  width: 35vw;
  margin-bottom: 1vw;
  padding: 8px 20px;
  margin: 20px 30px 30px 30px;
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 1.8vw;
  color: #fff;
  border: 0;
  font-weight: 600;
}

.orange-button:hover {
  background-color: #ffa34d;
}

.orange-button:active {
  background-color: #ec8700;
  box-shadow: 0 5px #905201;
  transform: translateY(4px);
}

.logo-img{
width: 15vw;
margin: 1.5vw;
}

.logo{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .logo-img {
    width: 45vw;
    margin: 2vw;
  }

  .word {
    font-size: 180%;
  }

  input, select {
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid rgb(255, 157, 29);
    width: 50vw;
    height: 5vh;
    box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  }

  .orange-button {
    width: 50vw;
    height: 5vh;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #ffaa5b;
    color: #fff;
    border: 0;
    font-weight: 600;
    font-size: 130%;
    margin-top: 1vw;
  }
}