body {
  background-color: rgb(255, 251, 240);
}

.bg-img {
  position:fixed;
  width: 100%;
  /* right: 20%; */
  /* bottom: 20%; */
  /* height: 100%; */
  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -10;
}
.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bi-list,
.bi-x-lg {
  color: rgb(255, 157, 29);
  font-size: 50px;
}

.navbar {
  width: 100%;
  position: sticky;
  /* overflow: hidden; */
  background-color: #ffe7c7;
  z-index: 10;
  top: 0;
  /* display: flex; */
}

.navbar-nav {
  color: #ae782e;
  font-size: 25px;
}

.logo {
  width: 180px;
  text-align: center;
}

.navbar-brand {
  color: #ae782e;
  font-size: 25px;
}

.navbar-brand:hover {
  color: #855614;
}

.navbar-nav:hover {
  color: #855614;
}

.navbar-brand:focus {
  color: #855614
}

.navbar-toggler {
  border:0 ;
}

.navbar-toggler:focus {
  border:0 ;
  box-shadow: none;
}

.nav-link {
  font-weight: bold;
  color: #ae782e !important;
}

.nav-link:hover {
  color: #855614 !important;
}

.menu_items {
  font-size: 22px;
  margin-right: 20px;
  margin-left: 20px;
}

#logout {
  margin: 0 50px;
  padding: 8px 25px;
  border-radius: 50px;
  background-color: #ffbf82;
  font-size: 22px;
  color: #fff;
  border: 0;
  font-weight: 600;
  /* position: fixed */
}

#logout:hover {
  background-color: #ffa34d;
}

.banner-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* title */
.banner {
  position: relative;
  width: 1000px;
  height: 400px;
  background-image: url("../assets/banner.png");
  background-position: center;
  background-size: 80vh;
  margin: 2vw;
  color: #ffca59;
  text-align: center;
  font-size: 50px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 3px 3px #905201;
}

.banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}
/* title */
.driver-name {
  position: relative;
  width: 1000px;
  height: 400px;
  background-image: url("../assets/banner.png");
  background-position: center;
  background-size: 80vh;
  margin: 2vw;
  color: #ffca59;
  text-align: center;
  font-size: 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 3px 3px #905201;
}

.driver-name::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}

.role {
  font-size: 30px;
  margin: 10px;
  color: #ae782e;
  padding: 10px;
}

.order-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

select {
  width: 100;
  border: 1px solid rgb(253, 202, 72);
  margin: 0 3vw;
  padding: 5px;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  color: rgba(255, 157, 29, 0.5);
}

select :disabled {
  color: rgba(255, 157, 29, 0.5);
  background-color: rgba(208, 207, 205, 0.674);
}

select:valid {
  color: #ae782e;
  font-size: 22px;
}

/* form , to */
.order-text {
  color: #eeb96f;
  margin: 5px 2vw;
  margin-top: 30px;
  font-size: 22px;
}

.pick_up_district_time,
.deli_district_animal {
  color: #ae782e;
  margin: 0 2vw;
  margin-bottom: 30px;
  font-size: 30px;
}

.cfm-district {
  background-color: rgb(255, 227, 155);
  border: 0;
  border-radius: 15px;
  color: rgb(255, 157, 29);
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 2vw;
}

.order_with_btn {
  border: 0;
  border-radius: 15px;
  background-color: rgb(255, 245, 219);
  color: rgb(255, 157, 29);
  margin: 3vw;
  margin: 20px 0;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.single_order {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 30px;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.cfm-accept-order,
.cfm-change-status,
.history-details,
.return_home {
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 18px;
  color: #fff;
  border: 0;
  font-weight: 600;
  /* margin: 3vw 0; */
  padding: 8px 4vw;
  width: fit-content;
  height: fit-content;
}

.accept-order,
.return-btn {
  border-radius: 50px;
  background-color: #ffaa5b;
  font-size: 18px;
  color: #fff;
  border: 0;
  font-weight: 600;
  /* margin: 200px 50px; */
  padding: 8px 4vw;
}

.accept-order:hover,
.return-btn:hover {
  background-color: #ffa34d;
}

.accept-order:active,
.return-btn:active {
  background-color: #ec8700;
  box-shadow: 0 5px #905201;
  transform: translateY(4px);
}

.confirm_order,
#ongoing_orders,
#order_history,
.single-history {
  border: 0;
  border-radius: 15px;
  background-color: rgb(255, 245, 219);
  margin: 3vw;
  color: rgb(255, 157, 29);
  margin: 3vw;
  padding-bottom: 1.5vw;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
}

.confirm_order_title,
.driver_fee_title {
  margin: 20px;
  color: #ae782e;
  text-align: center;
  /* padding-left: 5vw;
  padding-right: 8vw; */
  font-size: 22px;
}

.confirm_order_text,
.driver_fee_text {
  color: #ae782e;
  /* width: 100%; */
  background-color: rgb(255, 251, 240);
  text-align: left;
  border: 0;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  font-size: 18px;
  box-shadow: rgba(255, 157, 29, 0.24) 0px 3px 8px;
  line-height: 1.8;
}

.order-success {
  margin: 3vw 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success {
  font-size: 5vw;
  margin: 10px;
  color: rgb(255, 157, 29);
}

p.copyright {
  margin: 0;
}

footer {
  width: 100%;

  padding: 10px;
  bottom: 0;
  background-color: #ffe7c7;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #ae782e;
}

@media only screen and (min-width: 1000px) {
  select,
  #all_orders,
  .confirm_order,
  #ongoing_orders,
  #order_history,
  .single-history {
    width: 1000px;
  }

  select {
    width: 100;
  }

  #all_orders {
    width: 100;
  }
}

@media only screen and (max-width: 1000px) {
  .banner {
    width: 95vw;
    height: 400px;
    font-size: 40px;
  }

  select,
  #all_orders,
  .confirm_order,
  #ongoing_orders,
  #order_history,
  .single-history {
    width: 95vw;
  }

  /* form , to */
  .order-text {
    font-size: 2vw;
  }

  .pick_up_district_time,
  .deli_district_animal {
    font-size: 3vw;
  }

  .accept-order,
  .return-btn {
    color: #fff;
    font-size: 3vw;
    padding: 8px 4vw;
    width: fit-content;
  }

  .confirm_order_title,
  .driver_fee_title {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 95vw;
    height: 200px;
    font-size: 40px;
  }

  footer {
    width: 100vw;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffe7c7;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #ae782e;
  }

  .single_order {
    display: block;
  }

  /* form , to */
  .order-text {
    font-size: 4vw;
  }

  .pick_up_district_time,
  .deli_district_animal {
    font-size: 5vw;
  }

  .accept-order,
  .return-btn {
    color: #fff;
    font-size: 5vw;
    padding: 8px 5vw;
    width: fit-content;
  }

  .confirm_order_title,
  .driver_fee_title {
    font-size: 5vw;
  }
}
